
*{

    font-family: Arial, Helvetica, sans-serif;

}

header{

    text-align: center;

}

.contenedor{

    width: 70%;
    margin: 100px auto;
    background-color:  #3F9EC8;
    padding: 30px;
    border-radius: 10px;

}

img{

    width: 100px;
    height: auto;
    padding: 20px;
    border-color: black 3px solid;

}

button{

    font-size: 15px;
    color:white;
    font-weight: bold;
    background-color: rgb(13, 4, 21);
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 5px;

}

button:hover{

    background-color: rgb(57, 56, 58);  
    border-color: aliceblue;

}

label{

    font-size: 17px;
    font-weight: bold;

}

input{

    padding: 5px;
    border-radius: 5px;
    border-color: rgb(255, 253, 253);

}

input:hover{

    border-color: black;

}

picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 5%;
    margin-bottom: 5%;

    width: 100%;
    height: 100%;

    background-color: #3F9EC8;
    
}

.sect{

    margin-left: 100px;

}

#btnLimpiar{

    margin-left: 800px;

}

#btnListar{

    margin-left: 800px;

}